/* Custom styles */

/* Reset */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    /* overflow: hidden; */
}

/* Navbar styles */
.navbar{
    background: crimson;
    font-family: calibri;
    padding: 24px 25px;
}

.navdiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.logo a:hover{
    color: bisque;
    text-transform: uppercase;
}

.nav-list li{
    list-style: none;
    display: inline-block;
}

.nav-list li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

.nav-list li a:hover{
    border: 2px solid wheat;
    font-size: 14px;
    padding: 4px;
    border-radius: 6px;
    transition: all .5s ease-in-out;
}

button{
    background-color: black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}

button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}

/* Hero section styling */
section.container{
    background: url(./recipes/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    filter: blur(1px);
}
.content {
    padding: 10em;
    color: white;
    text-align: center;
}

.content h2 {
    /* margin-top: 200px; */
    font-size: 80px;
    font-weight: 500;
}

